.container {
	max-width: 1800px;
	margin: 0 auto;
	background: #f9f9f9;
	font-size: 24px;
	padding: 25px;
}

.parallax {
	background: url(waveCrash.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 770px;
}

.parallax2 {
	background: url(gilaBend.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 770px;
}
























































